<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragment.html::head">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../resources/css/style.css"/>
</head>
<body>
  <!-- header -->
  <nav th:replace="fragment.html::header"></nav>

  <div class="d-flex justify-content-center align-items-center text-center app-height-max">
    <div>
      <h1 class="display-4">403 Forbidden</h1>
      <p th:text="#{common.msg.403}">You are not authorized to access this page.</p>
      <p class="lead">
        <a href="javascript:history.back()" class="btn btn-primary btn-lg" role="button">Go back</a>
      </p>
    </div>
  </div>

  <!-- javascript -->
  <div th:replace="fragment.html::javascripts">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
